<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección 5: Fortalezas destacables</title>
    <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
    <h1>Formulario de Evaluación</h1>
    <form action="/formpage5" method="post" enctype="application/json">

        <!-- Sección 2: Actitudinal -->
        <h2>Sección 5 de 7: Fortalezas destacables</h2>
        <fieldset>

        <!-- Pregunta 1: Destaca -->
        <label class="form-pregunta" for="destaca_persona">
            ¿En qué destaca la persona? 
            ¿Cuáles son sus fortalezas? 
            ¿Tiene alguna característica de personalidad y forma de ser destacable?
            ¿Qué es lo que hace mejor? 
            ¿De qué conocimientos valiosos dispone?
            </label>
        <textarea id="destaca_persona" name="destaca_persona"></textarea>

        <!-- Pregunta 2: Talentos -->
        <label class="form-pregunta" for="talento_persona">
            ¿Tiene talentos "naturales"?
            </label>
        <textarea id="talento_persona" name="talento_persona"></textarea>

        <!-- Pregunta 2: Talentos desarrollados -->
        <label class="form-pregunta" for="talento_desarrollado_persona">
            ¿Tiene talentos que ha desarrollado en el último tiempo, 
            a base de hábitos y prácticas positivas?
        </label>
        <textarea id="talento_desarrollado_persona" name="talento_desarrollado_persona"></textarea>

        <!-- Pregunta 2: Talentos -->
        <label class="form-pregunta" for="fortalezas_persona">
            ¿Tiene fortalezas evidentes, pero que no reconoce en sí mismo/a?
        </label>
        <textarea id="fortalezas_persona" name="fortalezas_persona"></textarea>

        </fieldset>
        <button> Siguiente </button>
    </form>

</body>

</html>