<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección 4: Liderazgo</title>
    <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
    <h1>Formulario de Evaluación</h1>
    <form action="/formpage4" method="post" enctype="application/json">

        <!-- Sección 2: Actitudinal -->
        <h2>Sección 4 de 7: Liderazgo (si aplica)</h2>
        <fieldset>
            <legend>¿Cómo valoraría los siguientes aspectos del líder/supervisor de equipo?</legend>

            <!-- EMPATIA Y ESCUCHA -->
            <label class="form-pregunta" for="empatia_y_escucha">Empatía y escucha</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="ee-no-relevante" name="empatia_y_escucha" value="no_relevante">
                    <label class="no-relevante-label" for="ee-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ee-no-seguro" name="empatia_y_escucha" value="no_seguro">
                    <label class="no-seguro-label" for="ee-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ee-podria-mejorar" name="empatia_y_escucha" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="ee-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ee-estandar" name="empatia_y_escucha" value="estandar">
                    <label class="estandar-label" for="ee-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ee-destacable" name="empatia_y_escucha" value="destacable">
                    <label class="destacable-label" for="ee-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ee-muy-destacable" name="empatia_y_escucha" value="muy_destacable">
                    <label class="muy-destacable-label" for="ee-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- MULTIPERSPECTIVA -->
            <label class="form-pregunta" for="multiperspectiva">Multiperspectiva</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="mp-no-relevante" name="multiperspectiva" value="no_relevante">
                    <label class="no-relevante-label" for="mp-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="mp-no-seguro" name="multiperspectiva" value="no_seguro">
                    <label class="no-seguro-label" for="mp-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="mp-podria-mejorar" name="multiperspectiva" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="mp-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="mp-estandar" name="multiperspectiva" value="estandar">
                    <label class="estandar-label" for="mp-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="mp-destacable" name="multiperspectiva" value="destacable">
                    <label class="destacable-label" for="mp-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="mp-muy-destacable" name="multiperspectiva" value="muy_destacable">
                    <label class="muy-destacable-label" for="mp-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- DETERMINA NIVELES APROPIADOS DE EXPECTATIVAS -->
            <label class="form-pregunta" for="determina_apropiadamente_expectativas">Determina niveles apropiados de determina_apropiadamente_expectativas</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="ex-no-relevante" name="determina_apropiadamente_expectativas" value="no_relevante">
                    <label class="no-relevante-label" for="ex-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ex-no-seguro" name="determina_apropiadamente_expectativas" value="no_seguro">
                    <label class="no-seguro-label" for="ex-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ex-podria-mejorar" name="determina_apropiadamente_expectativas" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="ex-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ex-estandar" name="determina_apropiadamente_expectativas" value="estandar">
                    <label class="estandar-label" for="ex-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ex-destacable" name="determina_apropiadamente_expectativas" value="destacable">
                    <label class="destacable-label" for="ex-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="ex-muy-destacable" name="determina_apropiadamente_expectativas" value="muy_destacable">
                    <label class="muy-destacable-label" for="ex-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- COMUNICA RESPONSABILIDADES Y EXPECTATIVAS DE FORMA CLARA -->
            <label class="form-pregunta" for="comunicacion_responsabilidades_claramente">Comunica responsabilidades y determina apropiadamente expectativas
                de forma clara</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="com-no-relevante" name="comunicacion_responsabilidades_claramente"
                        value="no_relevante">
                    <label class="no-relevante-label" for="com-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="com-no-seguro" name="comunicacion_responsabilidades_claramente" value="no_seguro">
                    <label class="no-seguro-label" for="com-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="com-podria-mejorar" name="comunicacion_responsabilidades_claramente"
                        value="podria_mejorar">
                    <label class="podria-mejorar-label" for="com-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="com-estandar" name="comunicacion_responsabilidades_claramente" value="estandar">
                    <label class="estandar-label" for="com-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="com-destacable" name="comunicacion_responsabilidades_claramente" value="destacable">
                    <label class="destacable-label" for="com-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="com-muy-destacable" name="comunicacion_responsabilidades_claramente"
                        value="muy_destacable">
                    <label class="muy-destacable-label" for="com-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- CONFIANZA PARA DELEGAR -->
            <label class="form-pregunta" for="confianza_para_delegar">Confianza para delegar</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="del-no-relevante" name="confianza_para_delegar" value="no_relevante">
                    <label class="no-relevante-label" for="del-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="del-no-seguro" name="confianza_para_delegar" value="no_seguro">
                    <label class="no-seguro-label" for="del-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="del-podria-mejorar" name="confianza_para_delegar" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="del-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="del-estandar" name="confianza_para_delegar" value="estandar">
                    <label class="estandar-label" for="del-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="del-destacable" name="confianza_para_delegar" value="destacable">
                    <label class="destacable-label" for="del-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="del-muy-destacable" name="confianza_para_delegar" value="muy_destacable">
                    <label class="muy-destacable-label" for="del-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- FOMENTA LA AUTONOMÍA E INDEPENDENCIA -->
            <label class="form-pregunta" for="fomenta_autonomia_e_independencia">Fomenta la autonomía e independencia</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="auto-no-relevante" name="fomenta_autonomia_e_independencia" value="no_relevante">
                    <label class="no-relevante-label" for="auto-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="auto-no-seguro" name="fomenta_autonomia_e_independencia" value="no_seguro">
                    <label class="no-seguro-label" for="auto-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="auto-podria-mejorar" name="fomenta_autonomia_e_independencia" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="auto-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="auto-estandar" name="fomenta_autonomia_e_independencia" value="estandar">
                    <label class="estandar-label" for="auto-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="auto-destacable" name="fomenta_autonomia_e_independencia" value="destacable">
                    <label class="destacable-label" for="auto-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="auto-muy-destacable" name="fomenta_autonomia_e_independencia" value="muy_destacable">
                    <label class="muy-destacable-label" for="auto-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- SE INTERESA POR EL BIENESTAR DE LOS MIEMBROS DE SU EQUIPO -->
            <label class="form-pregunta" for="interes_por_bienestar_del_equipo">Se interesa por el bienestar de los miembros de su
                equipo</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="bienestar-no-relevante" name="interes_por_bienestar_del_equipo" value="no_relevante">
                    <label class="no-relevante-label" for="bienestar-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="bienestar-no-seguro" name="interes_por_bienestar_del_equipo" value="no_seguro">
                    <label class="no-seguro-label" for="bienestar-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="bienestar-podria-mejorar" name="interes_por_bienestar_del_equipo" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="bienestar-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="bienestar-estandar" name="interes_por_bienestar_del_equipo" value="estandar">
                    <label class="estandar-label" for="bienestar-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="bienestar-destacable" name="interes_por_bienestar_del_equipo" value="destacable">
                    <label class="destacable-label" for="bienestar-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="bienestar-muy-destacable" name="interes_por_bienestar_del_equipo" value="muy_destacable">
                    <label class="muy-destacable-label" for="bienestar-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- FOMENTA EL CRECIMIENTO Y PROMOCIÓN DE LOS MIEMBROS DE SU EQUIPO -->
            <label class="form-pregunta" for="fomenta_crecimiento_del_equipo">Fomenta el crecimiento y promoción de los miembros de
                su equipo</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="crec-no-relevante" name="fomenta_crecimiento_del_equipo" value="no_relevante">
                    <label class="no-relevante-label" for="crec-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="crec-no-seguro" name="fomenta_crecimiento_del_equipo" value="no_seguro">
                    <label class="no-seguro-label" for="crec-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="crec-podria-mejorar" name="fomenta_crecimiento_del_equipo" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="crec-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="crec-estandar" name="fomenta_crecimiento_del_equipo" value="estandar">
                    <label class="estandar-label" for="crec-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="crec-destacable" name="fomenta_crecimiento_del_equipo" value="destacable">
                    <label class="destacable-label" for="crec-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="crec-muy-destacable" name="fomenta_crecimiento_del_equipo" value="muy_destacable">
                    <label class="muy-destacable-label" for="crec-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- EMPODERA Y MOTIVA A SUS COLABORADORES -->
            <label class="form-pregunta" for="empodera_y_motiva_su_equipo">Empodera y motiva a sus colaboradores</label>
            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="emp-no-relevante" name="empodera_y_motiva_su_equipo" value="no_relevante">
                    <label class="no-relevante-label" for="emp-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="emp-no-seguro" name="empodera_y_motiva_su_equipo" value="no_seguro">
                    <label class="no-seguro-label" for="emp-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="emp-podria-mejorar" name="empodera_y_motiva_su_equipo" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="emp-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="emp-estandar" name="empodera_y_motiva_su_equipo" value="estandar">
                    <label class="estandar-label" for="emp-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="emp-destacable" name="empodera_y_motiva_su_equipo" value="destacable">
                    <label class="destacable-label" for="emp-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="emp-muy-destacable" name="empodera_y_motiva_su_equipo" value="muy_destacable">
                    <label class="muy-destacable-label" for="emp-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- Reconoce el esfuerzo -->
            <label class="form-pregunta" for="reconoce_esfuerzo">Reconoce el esfuerzo</label>
            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="esf-no-relevante" name="reconoce_esfuerzo" value="no_relevante">
                    <label class="no-relevante-label" for="esf-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="esf-no-seguro" name="reconoce_esfuerzo" value="no_seguro">
                    <label class="no-seguro-label" for="esf-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="esf-podria-mejorar" name="reconoce_esfuerzo" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="esf-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="esf-estandar" name="reconoce_esfuerzo" value="estandar">
                    <label class="estandar-label" for="esf-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="esf-destacable" name="reconoce_esfuerzo" value="destacable">
                    <label class="destacable-label" for="esf-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="esf-muy-destacable" name="reconoce_esfuerzo" value="muy_destacable">
                    <label class="muy-destacable-label" for="esf-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- RECONOCE LOS LOGROS -->
            <label class="form-pregunta" for="reconoce_logros">Reconoce los logros</label>
            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="rl-no-relevante" name="reconoce_logros" value="no_relevante">
                    <label class="no-relevante-label" for="rl-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="rl-no-seguro" name="reconoce_logros" value="no_seguro">
                    <label class="no-seguro-label" for="rl-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="rl-podria-mejorar" name="reconoce_logros" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="rl-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="rl-estandar" name="reconoce_logros" value="estandar">
                    <label class="estandar-label" for="rl-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="rl-destacable" name="reconoce_logros" value="destacable">
                    <label class="destacable-label" for="rl-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="rl-muy-destacable" name="reconoce_logros" value="muy_destacable">
                    <label class="muy-destacable-label" for="rl-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- DA DEVOLUCIONES SOBRE OPORTUNIDADES DE MEJORA Y DESARROLLO -->
            <label class="form-pregunta" for="da_devoluciones_sobre_oportunidades_de_mejora">Da devoluciones sobre oportunidades de mejora y
                desarrollo</label>

            <div class="rating">
                <div class="form-option">
                    <input type="radio" id="dev-no-relevante" name="da_devoluciones_sobre_oportunidades_de_mejora" value="no_relevante">
                    <label class="no-relevante-label" for="dev-no-relevante">No relevante a su rol</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="dev-no-seguro" name="da_devoluciones_sobre_oportunidades_de_mejora" value="no_recibido">
                    <label class="no-seguro-label" for="dev-no-seguro">No estoy seguro/a</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="dev-podria-mejorar" name="da_devoluciones_sobre_oportunidades_de_mejora" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="dev-podria-mejorar">Podría mejorar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="dev-estandar" name="da_devoluciones_sobre_oportunidades_de_mejora" value="estandar">
                    <label class="estandar-label" for="dev-estandar">Estándar</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="dev-destacable" name="da_devoluciones_sobre_oportunidades_de_mejora" value="destacable">
                    <label class="destacable-label" for="dev-destacable">Destacable</label>
                </div>
                <div class="form-option">
                    <input type="radio" id="dev-muy-destacable" name="da_devoluciones_sobre_oportunidades_de_mejora" value="muy_destacable">
                    <label class="muy-destacable-label" for="dev-muy-destacable">Muy destacable</label>
                </div>
            </div>

            <!-- Repetir el bloque anterior para cada aspecto a valorar -->
        </fieldset>
        <button> Siguiente </button>
    </form>

</body>

</html>