<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
    <h1>Formulario de Evaluación</h1>
    <form action="#" method="post">
        <!-- Sección 0: Introducción -->
        <h2>Sección 0: Introducción</h2>
        <label for="nombre">Ingrese el nombre del colaborador/a:</label>
        <input type="text" id="nombre" name="nombre">

        <!-- Sección 1: Metodologías de trabajo -->
        <h2>Sección 1: Metodologías de trabajo</h2>
        <fieldset>
            <legend>¿Cómo valoraría los siguientes aspectos del colaborador?</legend>
            <div>
                <label for="organizacion_personal">Organización personal</label>
                <div class="rating">
                    <input type="radio" id="org-no-relevante" name="organizacion_personal" value="no_relevante">
                    <label class="no-relevante-label" for="org-no-relevante">No relevante a su rol o no estoy
                        seguro</label>

                    <input type="radio" id="org-podria-mejorar" name="organizacion_personal" value="podria_mejorar">
                    <label class="podria-mejorar-label" for="org-podria-mejorar">Podría mejorar</label>

                    <input type="radio" id="org-estandar" name="organizacion_personal" value="estandar">
                    <label class="estandar-label" for="org-estandar">Estándar</label>

                    <input type="radio" id="org-destacable" name="organizacion_personal" value="destacable">
                    <label class="destacable-label" for="org-destacable">Destacable</label>

                    <input type="radio" id="org-muy-destacable" name="organizacion_personal" value="muy_destacable">
                    <label class="muy-destacable-label" for="org-muy-destacable">Muy destacable</label>
                </div>
            </div>
            <!-- Repetir el bloque anterior para cada aspecto a valorar -->
        </fieldset>
        <button> Enviar </button>
    </form>

</body>

</html>