<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección 2: Actitudinal</title>
    <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
    <h1>Formulario de Evaluación</h1>
    <form action="/formpage2" method="post" enctype="application/json">

        <!-- Sección 2: Actitudinal -->
        <h2>Sección 2 de 7: Actitudinal</h2>
        <fieldset>
            <legend>¿Cómo valoraría los siguientes aspectos del colaborador?</legend>
            <div>
               <!-- RESPONSABILIDAD -->
<label class="form-pregunta" for="responsabilidad">Responsabilidad</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="resp-no-relevante" name="responsabilidad" value="no_relevante">
        <label class="no-relevante-label" for="resp-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="resp-no-seguro" name="responsabilidad" value="no_seguro">
        <label class="no-seguro-label" for="resp-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="resp-podria-mejorar" name="responsabilidad" value="podria_mejorar">
        <label class="podria-mejorar-label" for="resp-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="resp-estandar" name="responsabilidad" value="estandar">
        <label class="estandar-label" for="resp-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="resp-destacable" name="responsabilidad" value="destacable">
        <label class="destacable-label" for="resp-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="resp-muy-destacable" name="responsabilidad" value="muy_destacable">
        <label class="muy-destacable-label" for="resp-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- AUTOMOTIVACIÓN Y ENTUSIASMO -->
<label class="form-pregunta" for="automotivacion_entusiasmo">Automotivación y entusiasmo</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="ae-no-relevante" name="automotivacion_entusiasmo" value="no_relevante">
        <label class="no-relevante-label" for="ae-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ae-no-seguro" name="automotivacion_entusiasmo" value="no_seguro">
        <label class="no-seguro-label" for="ae-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ae-podria-mejorar" name="automotivacion_entusiasmo" value="podria_mejorar">
        <label class="podria-mejorar-label" for="ae-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ae-estandar" name="automotivacion_entusiasmo" value="estandar">
        <label class="estandar-label" for="ae-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ae-destacable" name="automotivacion_entusiasmo" value="destacable">
        <label class="destacable-label" for="ae-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ae-muy-destacable" name="automotivacion_entusiasmo" value="muy_destacable">
        <label class="muy-destacable-label" for="ae-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- DISPOSICIÓN AL TRABAJO -->
<label class="form-pregunta" for="disposicion_trabajo">Disposición al trabajo</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="dt-no-relevante" name="disposicion_trabajo" value="no_relevante">
        <label class="no-relevante-label" for="dt-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="dt-no-seguro" name="disposicion_trabajo" value="no_seguro">
        <label class="no-seguro-label" for="dt-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="dt-podria-mejorar" name="disposicion_trabajo" value="podria_mejorar">
        <label class="podria-mejorar-label" for="dt-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="dt-estandar" name="disposicion_trabajo" value="estandar">
        <label class="estandar-label" for="dt-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="dt-destacable" name="disposicion_trabajo" value="destacable">
        <label class="destacable-label" for="dt-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="dt-muy-destacable" name="disposicion_trabajo" value="muy_destacable">
        <label class="muy-destacable-label" for="dt-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- PROACTIVIDAD -->
<label class="form-pregunta" for="proactividad">Proactividad</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="pr-no-relevante" name="proactividad" value="no_relevante">
        <label class="no-relevante-label" for="pr-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pr-no-seguro" name="proactividad" value="no_seguro">
        <label class="no-seguro-label" for="pr-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pr-podria-mejorar" name="proactividad" value="podria_mejorar">
        <label class="podria-mejorar-label" for="pr-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pr-estandar" name="proactividad" value="estandar">
        <label class="estandar-label" for="pr-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pr-destacable" name="proactividad" value="destacable">
        <label class="destacable-label" for="pr-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pr-muy-destacable" name="proactividad" value="muy_destacable">
        <label class="muy-destacable-label" for="pr-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- PACIENCIA Y MANEJO DE LA ANSIEDAD -->
<label class="form-pregunta" for="paciencia_ansiedad">Paciencia y manejo de la ansiedad</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="pa-no-relevante" name="paciencia_ansiedad" value="no_relevante">
        <label class="no-relevante-label" for="pa-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pa-no-seguro" name="paciencia_ansiedad" value="no_seguro">
        <label class="no-seguro-label" for="pa-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pa-podria-mejorar" name="paciencia_ansiedad" value="podria_mejorar">
        <label class="podria-mejorar-label" for="pa-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pa-estandar" name="paciencia_ansiedad" value="estandar">
        <label class="estandar-label" for="pa-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pa-destacable" name="paciencia_ansiedad" value="destacable">
        <label class="destacable-label" for="pa-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="pa-muy-destacable" name="paciencia_ansiedad" value="muy_destacable">
        <label class="muy-destacable-label" for="pa-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- TOLERANCIA A LA PRESION -->
<label class="form-pregunta" for="tolerancia_presion">Tolerancia a la presión</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="tp-no-relevante" name="tolerancia_presion" value="no_relevante">
        <label class="no-relevante-label" for="tp-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="tp-no-seguro" name="tolerancia_presion" value="no_seguro">
        <label class="no-seguro-label" for="tp-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="tp-podria-mejorar" name="tolerancia_presion" value="podria_mejorar">
        <label class="podria-mejorar-label" for="tp-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="tp-estandar" name="tolerancia_presion" value="estandar">
        <label class="estandar-label" for="tp-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="tp-destacable" name="tolerancia_presion" value="destacable">
        <label class="destacable-label" for="tp-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="tp-muy-destacable" name="tolerancia_presion" value="muy_destacable">
        <label class="muy-destacable-label" for="tp-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- ADAPTABILIDAD A LOS CAMBIOS -->
<label class="form-pregunta" for="adaptabilidad_cambios">Adaptabilidad a los cambios</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="ac-no-relevante" name="adaptabilidad_cambios" value="no_relevante">
        <label class="no-relevante-label" for="ac-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ac-no-seguro" name="adaptabilidad_cambios" value="no_seguro">
        <label class="no-seguro-label" for="ac-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ac-podria-mejorar" name="adaptabilidad_cambios" value="podria_mejorar">
        <label class="podria-mejorar-label" for="ac-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ac-estandar" name="adaptabilidad_cambios" value="estandar">
        <label class="estandar-label" for="ac-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ac-destacable" name="adaptabilidad_cambios" value="destacable">
        <label class="destacable-label" for="ac-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="ac-muy-destacable" name="adaptabilidad_cambios" value="muy_destacable">
        <label class="muy-destacable-label" for="ac-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- CURIOSIDAD Y APERTURA A NUEVAS IDEAS -->
<label class="form-pregunta" for="curiosidad_nuevas_ideas">Curiosidad y apertura a nuevas ideas</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="cn-no-relevante" name="curiosidad_nuevas_ideas" value="no_relevante">
        <label class="no-relevante-label" for="cn-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="cn-no-seguro" name="curiosidad_nuevas_ideas" value="no_seguro">
        <label class="no-seguro-label" for="cn-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="cn-podria-mejorar" name="curiosidad_nuevas_ideas" value="podria_mejorar">
        <label class="podria-mejorar-label" for="cn-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="cn-estandar" name="curiosidad_nuevas_ideas" value="estandar">
        <label class="estandar-label" for="cn-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="cn-destacable" name="curiosidad_nuevas_ideas" value="destacable">
        <label class="destacable-label" for="cn-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="cn-muy-destacable" name="curiosidad_nuevas_ideas" value="muy_destacable">
        <label class="muy-destacable-label" for="cn-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- VOLUNTAD DE DESARROLLO (PERSONAL Y PROFESIONAL) -->
<label class="form-pregunta" for="voluntad_desarrollo">Voluntad de desarrollo (personal y profesional)</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="vd-no-relevante" name="voluntad_desarrollo" value="no_relevante">
        <label class="no-relevante-label" for="vd-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="vd-no-seguro" name="voluntad_desarrollo" value="no_seguro">
        <label class="no-seguro-label" for="vd-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="vd-podria-mejorar" name="voluntad_desarrollo" value="podria_mejorar">
        <label class="podria-mejorar-label" for="vd-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="vd-estandar" name="voluntad_desarrollo" value="estandar">
        <label class="estandar-label" for="vd-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="vd-destacable" name="voluntad_desarrollo" value="destacable">
        <label class="destacable-label" for="vd-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="vd-muy-destacable" name="voluntad_desarrollo" value="muy_destacable">
        <label class="muy-destacable-label" for="vd-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- BUSQUEDA DE LA EXCELENCIA -->
<label class="form-pregunta" for="busqueda_excelencia">Búsqueda de la excelencia</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="be-no-relevante" name="busqueda_excelencia" value="no_relevante">
        <label class="no-relevante-label" for="be-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="be-no-seguro" name="busqueda_excelencia" value="no_seguro">
        <label class="no-seguro-label" for="be-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="be-podria-mejorar" name="busqueda_excelencia" value="podria_mejorar">
        <label class="podria-mejorar-label" for="be-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="be-estandar" name="busqueda_excelencia" value="estandar">
        <label class="estandar-label" for="be-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="be-destacable" name="busqueda_excelencia" value="destacable">
        <label class="destacable-label" for="be-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="be-muy-destacable" name="busqueda_excelencia" value="muy_destacable">
        <label class="muy-destacable-label" for="be-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- HUMILDAD -->
<label class="form-pregunta" for="humildad">Humildad</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="hu-no-relevante" name="humildad" value="no_relevante">
        <label class="no-relevante-label" for="hu-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="hu-no-seguro" name="humildad" value="no_seguro">
        <label class="no-seguro-label" for="hu-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="hu-podria-mejorar" name="humildad" value="podria_mejorar">
        <label class="podria-mejorar-label" for="hu-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="hu-estandar" name="humildad" value="estandar">
        <label class="estandar-label" for="hu-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="hu-destacable" name="humildad" value="destacable">
        <label class="destacable-label" for="hu-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="hu-muy-destacable" name="humildad" value="muy_destacable">
        <label class="muy-destacable-label" for="hu-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- TRABAJO EN EQUIPO -->
<label class="form-pregunta" for="trabajo_equipo">Trabajo en equipo</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="te-no-relevante" name="trabajo_equipo" value="no_relevante">
        <label class="no-relevante-label" for="te-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="te-no-seguro" name="trabajo_equipo" value="no_seguro">
        <label class="no-seguro-label" for="te-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="te-podria-mejorar" name="trabajo_equipo" value="podria_mejorar">
        <label class="podria-mejorar-label" for="te-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="te-estandar" name="trabajo_equipo" value="estandar">
        <label class="estandar-label" for="te-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="te-destacable" name="trabajo_equipo" value="destacable">
        <label class="destacable-label" for="te-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="te-muy-destacable" name="trabajo_equipo" value="muy_destacable">
        <label class="muy-destacable-label" for="te-muy-destacable">Muy destacable</label>
    </div>
</div>

<!-- RESPETO POR LOS DEMÁS -->
<label class="form-pregunta" for="respeto_demás">Respeto por los demás</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="rd-no-relevante" name="respeto_demás" value="no_relevante">
        <label class="no-relevante-label" for="rd-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="rd-no-seguro" name="respeto_demás" value="no_seguro">
        <label class="no-seguro-label" for="rd-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="rd-podria-mejorar" name="respeto_demás" value="podria_mejorar">
        <label class="podria-mejorar-label" for="rd-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="rd-estandar" name="respeto_demás" value="estandar">
        <label class="estandar-label" for="rd-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="rd-destacable" name="respeto_demás" value="destacable">
        <label class="destacable-label" for="rd-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="rd-muy-destacable" name="respeto_demás" value="muy_destacable">
        <label class="muy-destacable-label" for="rd-muy-destacable">Muy destacable</label>
    </div>
</div> 

<!-- HONESTIDAD -->
<label class="form-pregunta" for="honestidad">Honestidad</label>

<div class="rating">
    <div class="form-option">
        <input type="radio" id="honest-no-relevante" name="honestidad" value="no_relevante">
        <label class="no-relevante-label" for="honest-no-relevante">No relevante a su rol</label>
    </div>
    <div class="form-option">
        <input type="radio" id="honest-no-seguro" name="honestidad" value="no_seguro">
        <label class="no-seguro-label" for="honest-no-seguro">No estoy seguro/a</label>
    </div>
    <div class="form-option">
        <input type="radio" id="honest-podria-mejorar" name="honestidad" value="podria_mejorar">
        <label class="podria-mejorar-label" for="honest-podria-mejorar">Podría mejorar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="honest-estandar" name="honestidad" value="estandar">
        <label class="estandar-label" for="honest-estandar">Estándar</label>
    </div>
    <div class="form-option">
        <input type="radio" id="honest-destacable" name="honestidad" value="destacable">
        <label class="destacable-label" for="honest-destacable">Destacable</label>
    </div>
    <div class="form-option">
        <input type="radio" id="honest-muy-destacable" name="honestidad" value="muy_destacable">
        <label class="muy-destacable-label" for="honest-muy-destacable">Muy destacable</label>
    </div>
</div>
 
            <!-- Repetir el bloque anterior para cada aspecto a valorar -->
        </fieldset>
        <button> Siguiente </button>
    </form>

</body>

</html>