<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección 7: Oportunidades de desarrollo de potencial    </title>
    <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
    <h1>Formulario de Evaluación</h1>
    <form action="/formpage7" method="post" enctype="application/json">

        <!-- Sección 7: Desarrollo -->
        <h2>Sección 7 de 7: Oportunidades de desarrollo de potencial</h2>
        <fieldset>

        <!-- Pregunta 1: -->
        <label class="form-pregunta" for="potencial_persona">
            ¿Qué potencial tiene la persona? ¿Hasta qué nivel podría crecer y desarrollarse?
        </label>
        <textarea id="potencial_persona" name="potencial_persona"></textarea>

        <!-- Pregunta 2: -->
        <label class="form-pregunta" for="desarrollo_persona">
            ¿Cómo podría ser mejor profesional? ¿Qué atributos positivos podría desarrollar?
        </label>
        <textarea id="desarrollo_persona" name="desarrollo_persona"></textarea>

        <!-- Pregunta 3: -->
        <label class="form-pregunta" for="barreras_persona">
            ¿Tiene un potencial desaprovechado? ¿Tiene barreras autoimpuestas?           
        </label>
        <textarea id="barreras_persona" name="barreras_persona"></textarea>

        <!-- Pregunta 4: -->
        <label class="form-pregunta" for="especializacion_persona">
            ¿Podría especializarse y orientar su carrera profesional a un tema o sector en particular?
        </label>
        <textarea id="especializacion_persona" name="especializacion_persona"></textarea>

        <!-- Pregunta 5: -->
        <label class="form-pregunta" for="eventual_liderazgo_persona">
            ¿Podría, eventualmente, asumir funciones de liderazgo? 
            ¿Qué atributos clave tiene desarrollados, y cuáles sería necesario que desarrolle?
        </label>
        <textarea id="eventual_liderazgo_persona" name="eventual_liderazgo_persona"></textarea>

        </fieldset>
        <button> Finalizar </button>
    </form>

</body>

</html>