<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
    <h1>Bienvenido a</h1>

    <p>
        Esta actividad consiste en una conversación entre la/el líder y cada uno de sus colaboradores directos, en torno
        a aspectos fundamentales y destacables de la persona respecto a su forma de ser, pensar y actuar en el ámbito
        laboral. Especialmente se hace foco en las fortalezas, el aporte de valor y las oportunidades de desarrollo.
        Previo a la conversación, el/la líder deberá realizar un breve ejercicio de diagnóstico (disponible en este
        documento), cuyo resultado será insumo esencial para la conversación.
        El objetivo principal del diagnóstico y la conversación es proveer orientación a la persona, principalmente
        respecto a su desarrollo personal y profesional.
    </p>

    <a href="/formpage1">
    <button>Comenzar</button>
    </a>
</body>

</html>